<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= translation.login %> • Mikroman</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/login.js" defer></script>
</head>
<body>
    <div id="login-box">
        <div id="login-form" class="block-form">
            <h2><%= translation.login %></h2>

            <form method="POST" action="/api/login" autocomplete="off">
                <label>
                    <input type="text" name="username" required />
                    <span class="placeholder"><%= translation.username %></span>
                </label>
        
                <label>
                    <input type="password" name="password" required />
                    <span class="placeholder"><%= translation.password %></span>
                </label>

                <label class="inline">
                    <span class="checkbox">
                        <input type="checkbox" name="stay_logged" />
                        <div class="indicator"></div>
                    </span>

                    <span><%= translation.remember_me %></span>
                </label>
        
                <button type="submit"><%= translation.login_button %></button>
            </form>
        </div>
    </div>
</body>
</html>