<%- include("partials/header"); -%>
<h2><%= translation.configuration_required %></h2>
<p>
    <%= translation.firstly_configure_application %>
</p>

<a href="/configuration" class="theme-link"><%= translation.start_configuring %></a>

<%- include("partials/footer"); -%>
