<%- include("partials/header"); -%>
<h6><%= translation.step %> 4. <%= translation.of %> 4</h6>
<h2><%= translation.configuration_finished %></h2>
<p>
    <%- translation.finish_configuration_text %>
</p>

<p>
    <%= translation.finish_configuration_login %>
</p>

<form action="/api/configuration/finish" method="POST" autocomplete="off">
    <input type="hidden" value="true" name="submit" />
    <button type="submit"><%= translation.finish %></button>
</form>

<%- include("partials/footer"); -%>
