<%- include("partials/header"); -%>
<h6><%= translation.step %> 3. <%= translation.of %> 4</h6>
<h2><%= translation.user %></h2>
<p>
    <%- translation.user_configuration_text %>
</p>
<form action="/api/configuration/user" method="POST" autocomplete="off">
    <label>
        <input name="username" required />
        <span class="placeholder"><%= translation.username %></span>
    </label>

    <label>
        <input name="password" type="password" required />
        <span class="placeholder"><%= translation.password %></span>
    </label>

    <label>
        <input name="password_repeat" type="password" required />
        <span class="placeholder"><%= translation.confirm_password %></span>
    </label>
    <button type="submit"><%= translation.continue %></button>
</form>

<%- include("partials/footer"); -%>
